# --- Secure Random Keys ---
JWT_SECRET_KEY=         
COOKIE_SECRET_KEY=
ARGON_PEPPER=
# --------------------------

# ---- Prisma DB Config ----
DATABASE_URL="mysql://user:password@host:port/database_name"
# --------------------------

# ---- Fastify Prisma Plugin DB Config ----
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="db_name"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
# -----------------------------------------